<br />
<br />
<br />
<app-upperbody></app-upperbody>
<app-lowerbody></app-lowerbody>
<app-core></app-core>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div *ngIf="myExercises.length > 0">
        <ul appClick>
          <li name="listNg" *ngFor="let exercise of myExercises; let i = index">
            {{ exercise.name }}<br />
            {{ exercise.description }}<br />
            <img src="{{ exercise.imagePath }}" style="max-height: 200px" />
            <br />
            <br />
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
