<br />
<br />
<br />


<div class="container3">
  <div class="row">
    <div class="col-md-8">
      <div *ngIf="myExercises.length > 0">
        <ul appClick>
          <li name="listNg" *ngFor="let exercise of myExercises; let i = index">
            {{ exercise.name }}<br />
            {{ exercise.description }}<br />
            <img src="{{ exercise.imagePath }}" style="max-height: 100px" />
            <button  class="delete" style="background-color: red; position:relative; color: black;font-size: 10px;letter-spacing: 1px; max-width: 10%; padding: 5px 5px;" class="btn btn-primary btn-sm" (click)="runServiceDelete(exercise.name)">Delete</button>
            <button  class="delete" style="background-color: rgb(34, 0, 255);color: white; position:relative; font-size: 10px;letter-spacing: 1px; max-width: 10%; padding: 5px 5px;" class="btn btn-primary btn-sm" (click)="runServiceEdit(exercise.name)">Edit</button>
            <br>

            <input type="text"  placeholder="sets 2-5">
            <button type="submit" style= "background-color: green;  max-width: fit-content; padding: 5px 5px;" class="btn btn-primary btn-sm;" (click)="onSubmit()">Add Sets</button>
            <input type="text"  placeholder="reps 6-15">
            <button type="submit" style= "background-color: green;  max-width: fit-content; padding: 5px 5px;" class="btn btn-primary btn-sm" (click)="onSubmit()">Add Reps</button>

            <br />
            <br />

          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
