<div class="container" id="topPage">
  <div class="row">
    <div class="col-md-8">
      <app-header></app-header>
      <app-difficulty-level></app-difficulty-level>
      <br />
      <p id="e">
        <img
          src="https://sandybumfit.files.wordpress.com/2018/07/start-your-fitness-journey.png"
        />
      </p>
      <br /><br /><br />
      <app-upperbody></app-upperbody>
      <app-lowerbody></app-lowerbody>
      <app-core></app-core>
      <app-sidebar></app-sidebar>
      <router-outlet></router-outlet>
      <app-exercise-list></app-exercise-list>
      <app-footer></app-footer>
    </div>
  </div>
</div>
