<div class="container">
  <div class="row mb-3">
    <div class="col-mid-12">
      <a href="#" class="'list-group-item clearfix">
        <!-- left side info -->
        <div class="float-left">
        <h4 class="list-group-item-heading">Sit Up</h4>
        <p class="list-group-item-text mb-0">A sit-up is an exercise that involves lying flat on your back, lifting your torso to a sitting position, and then lying flat again. You should do this without changing the position of your legs.
        </p>
        </div>
        <!-- right side img -->
        <div class="float-right">
          <img
          src="https://static.strengthlevel.com/images/illustrations/sit-ups-1000x1000.jpg"
          alt="lat pull down"
          class="img-responsive rounded"
          style="max-height: 50px"/>
        </div>

      </a>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-mid-12">
      <a href="#" class="'list-group-item clearfix">
        <!-- left side info -->
        <div class="float-left">
        <h4 class="list-group-item-heading">Oblique Twist</h4>
        <p class="list-group-item-text mb-0">Contract your abs and sit at about a 45-degree angle. Hold the medicine ball with both hands, directly in front of you. Contracting your abs, twist slowly from your torso to your right and touch the medicine ball to the floor beside you. Pause to hold the position a moment.
        </p>
        </div>
        <!-- right side img -->
        <div class="float-right">
          <img
          src="https://static.strengthlevel.com/images/illustrations/russian-twist-1000x1000.jpg"
          alt="low row"
          class="img-responsive rounded"
          style="max-height: 50px"/>
        </div>

      </a>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-mid-12">
      <a href="#" class="'list-group-item clearfix">
        <!-- left side info -->
        <div class="float-left">
        <h4 class="list-group-item-heading">Flutter Kick</h4>
        <p class="list-group-item-text mb-0">What are Flutter Kicks? A Flutter Kick is an exercise that specifically targets the lower abdominal wall. You perform this move by lying on your back and using your core to “flutter” your legs up and down. You'll often see this type of move performed in Pilates, barre and strength training classes.
        </p>
        </div>
        <!-- right side img -->
        <div class="float-right">
          <img
          src="https://static.strengthlevel.com/images/illustrations/flutter-kicks-1000x1000.jpg"
          alt="lat pull down"
          class="img-responsive rounded"
          style="max-height: 50px"/>
        </div>

      </a>
    </div>
  </div>
  
  </div>
