<div class="container" id="lower" style="display:none">
  <div class="row mb-3">
    <div class="col-md-9">
      <a href="#" class="'list-group-item clearfix">
        <!-- left side info -->
        <div class="float-left">
        <h4 class="list-group-item-heading">Squat</h4>
        <p class="list-group-item-text mb-0">To do a squat, stand with your feet slightly greater than shoulder-width apart and your toes pointing ahead. Slowly descend, bending through the hips, knees and ankles. Stop when your knees reach a 90-degree angle.
        </p>
        </div>
        <!-- right side img -->
        <div class="float-right">
          <img
          src="https://static.strengthlevel.com/images/illustrations/squat-1000x1000.jpg"
          alt="lat pull down"
          class="img-responsive rounded"
          style="max-height: 200px"/>
        </div>

      </a>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-9">
      <a href="#" class="'list-group-item clearfix">
        <!-- left side info -->
        <div class="float-left">
        <h4 class="list-group-item-heading">Hamstring Curl</h4>
        <p class="list-group-item-text mb-0">The hamstring curl, also called a leg curl, is an exercise that strengthens the hamstrings. It involves bending your knees and moving your heels toward your butt while the rest of your body stays still. Typically, the exercise is done on a leg curl machine.
        </p>
        </div>
        <!-- right side img -->
        <div class="float-right">
          <img
          src="https://static.strengthlevel.com/images/illustrations/lying-leg-curl-1000x1000.jpg"
          alt="low row"
          class="img-responsive rounded"
          style="max-height: 200px"/>
        </div>

      </a>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-9">
      <a href="#" class="'list-group-item clearfix">
        <!-- left side info -->
        <div class="float-left">
        <h4 class="list-group-item-heading">Hip Thrust</h4>
        <p class="list-group-item-text mb-0">Perform a hip thrust by squeezing the glutes and pressing the dumbbell straight up until the hips align with the shoulders and knees. Squeeze at the top before lowering down to repeat.
        </p>
        </div>
        <!-- right side img -->
        <div class="float-right">
          <img
          src="https://static.strengthlevel.com/images/illustrations/hip-thrust-1000x1000.jpg"
          alt="lat pull down"
          class="img-responsive rounded"
          style="max-height: 200px"/>
        </div>

      </a>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-9">
      <a href="#" class="'list-group-item clearfix">
        <!-- left side info -->
        <div class="float-left">
        <h4 class="list-group-item-heading">Calf Raise Machine</h4>
        <p class="list-group-item-text mb-0">Exercises don't come much simpler than the calf raise. Stand up straight, then push through the balls of your feet and raise your heel until you are standing on your toes. Then lower slowly back to the start.
        </p>
        </div>
        <!-- right side img -->
        <div class="float-right">
          <img
          src="https://static.strengthlevel.com/images/illustrations/machine-calf-raise-1000x1000.jpg"
          alt="lat pull down"
          class="img-responsive rounded"
          style="max-height: 200px"/>
        </div>

      </a>
    </div>
  </div>

  </div>
