<div class="navbar navbar-inverse navbar-fixed-top" id="topPage">
  <div class="navbar-header"><a class="navbar-brand" href="#">Exercise Program Tracker</a>
       <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
     </div>
     <div class="navbar-collapse collapse">
       <ul class="nav navbar-nav">
         <li class="active"><a href="#">Home</a></li>
         <li><a href="#">Workouts Completed: {{zz}}</a></li>


       </ul>
     </div>
 </div>
 <div id="wrapper">
     <div id="sidebar-wrapper">
         <ul class="sidebar-nav nav navbar-inverse">
             <li>
              <hr>
              <hr>
              <br>
              <br>
              <br>
              <br>
              <br>

                 <h1>Choose a option based on your personal experience, and log it below!</h1>
                 <br>
                 <h4>Remember 6 weeks makes a new habit stay consistent!</h4>
             </li>
             <li>


              <br>
              <br>
              <br>
              <br>
              <br>

                  <Button type="button" class="btn btn-success" style="margin: 5px;"(click)="workoutCompleteB()">Beginner Workout Completed: {{x}}</Button>

                 <br>
                 <Button type="button" class="btn btn-success" style="margin: 5px;" (click)="workoutCompleteI()">Intermediate Workout Completed: {{y}}</Button>

                 <br>
                 <Button type="button" class="btn btn-success" style="margin: 5px;" (click)="workoutCompleteA()">Advanced Workout Completed: {{z}}</Button>
               

             </li>
         </ul>
     </div>


         </div>

