<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header"><a class="navbar-brand" href="#">Exercise</a>
       <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
     </div>
     <div class="navbar-collapse collapse">
       <ul class="nav navbar-nav">
         <li class="active"><a href="#">Home</a></li>
         <li><a href="#">More</a></li>
         <li><a href="#">Options</a></li>

       </ul>
     </div>
 </div>
 <div id="wrapper">
     <div id="sidebar-wrapper">
         <ul class="sidebar-nav nav navbar-inverse">
             <li>
                 <h3>Choose a difficulty to see potential options!</h3>
             </li>
             <li>
              <br>
                 <h3>total workout: totalworkoutmethod </h3>
             </li>
         </ul>
     </div>


         </div>

