
    <div class="container" id="topPage">
      <div class="row">
        <div class="col-md-8">
    <app-header></app-header>
    <app-beginner></app-beginner>
    <app-intermediate></app-intermediate>

    <app-advaned></app-advaned>
    <br><br><br>
    <p id="e">Only repeat exercises every 48-72 hours depending on soreness!</p>
    <br><br><br>
    <app-upperbody></app-upperbody>
    <app-lowerbody></app-lowerbody>
    <app-core></app-core>
    <app-sidebar></app-sidebar>
    <app-footer></app-footer>
  </div>
</div>
</div>






