    <div class="container" id="topPage">
      <div class="row">
        <div class="col-md-8">
          <app-header></app-header>
         <app-exercise-list></app-exercise-list>

          <app-beginner></app-beginner>
          <app-intermediate></app-intermediate>

          <app-advaned></app-advaned>
          <br>
          <p id="e" style="text-align: center;"></p>
          <br><br><br>
          <app-upperbody></app-upperbody>
          <app-lowerbody></app-lowerbody>
          <app-core></app-core>
          <app-sidebar></app-sidebar>
          <router-outlet></router-outlet>
           <app-footer></app-footer>


  </div>
</div>
</div>






