<p>Add New Exercises Below</p>
<form (ngSubmit)="onSubmit(f)" #f="ngForm" style="color: black;">

  <label for="bodypart" style="color: white"></label>
  <select
  name="bodypart"
   id="bodypart"
   [ngModel]="selectedBodyPart"
   class="form-control">
   <option
   *ngFor="let bp of bodyparts"
   [value]="bp">{{bp}}</option>
  </select>

  <input
  type="text"
  id="name"
  placeholder="exercise name"
  class="form-control"
  name="name"
  ngModel
  required/>

  <input
  type="text"
  id="description"
  placeholder="exercise description"
  class="form-control"
  name="description"
  ngModel
  required
  />

  <button class="btn btn-success"
  type="submit"
  [disabled]="!f.valid">
  {{editMode ? 'Update' : 'Submit'}}</button>
  <button class="btn btn-danger" type="button" (click)="onDelete();"
  *ngIf="editMode">Delete</button>
  <button class="btn btn-primary" type="button" (click)="onClear();">Clear</button>
</form>
