<div class="navbar navbar-inverse navbar-fixed-top" id="topPage">
  <div class="navbar-header">
    <a class="navbar-brand">Exercise Program Tracker</a>
    <a
      class="navbar-toggle"
      data-toggle="collapse"
      data-target=".navbar-collapse"
    >
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
  </div>
  <ul>
    <div class="nav navbar-nav">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
      <li routerLinkActive="active">
        <a routerLink="/workoutsCompleted" (click)="woCompleted()">Total Workouts Completed: {{ zz }}</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/exercises" (click)="exList()">Exercise List</a>


      </li>
    </div>
  </ul>





  <div id="wrapper">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav nav navbar-inverse">
        <li>
          <br />
          <br />
          <br />

          <button
          [routerLink]="['/exerciseDifficulty/beginner']"
            (click)="beginner()"
            style="background-color: blue; margin-left: 5px"
          >
            Choose Beginner
          </button>
          <br />
          <br />
          <button
          [routerLink]="['/exerciseDifficulty/intermediate']"
            (click)="intermediate()"
            style="background-color: #4c5c64df; margin-left: 5px"
          >
            Choose Intermediate
          </button>
          <br />
          <br />
          <button
          [routerLink]="['/exerciseDifficulty/advanced']"
            (click)="advanced()"
            style="background-color: black; margin-left: 5px"
          >
            Choose Advanced
          </button>
          <br />
          <br />
          <br />
          <br />
          <br />

          <h1>
            Choose a option based on your personal experience, and log it below!
          </h1>
        </li>
        <li>
          <br />


          <br />
          <br />
          <br />

          <Button
            type="button"
            class="btn btn-success"
            style="margin: 5px"
            (click)="begWoComplete()"
            >Beginner Total = {{ x }}</Button
          >

          <br />
          <Button
            type="button"
            class="btn btn-success"
            style="margin: 5px"
            (click)="itermWoComplete()"
            >Intermediate Total = {{ y }}</Button
          >

          <br />
          <Button
            type="button"
            class="btn btn-success"
            style="margin: 5px"
            (click)="advWoComplete()"
            >Advanced Total = {{ z }}</Button
          >

        </li>
      </ul>
<br>
<br>
<br>
<br>
<app-forms style="color: white;"></app-forms>
    </div>
  </div>
</div>

