<div class="container" id="beginner" style="display: none">
  <div class="row">
    <div class="col-md-10">

      <h2>Beginner</h2>
      <button
      [routerLink]="['/exercise-difficulty/beginner-upper-body']"
        style="margin: 1%; background-color: blue"
        (click)="onBegUpperBodyWorkout()"

      >
        UpperBody Workout
      </button>
      <button
      [routerLink]="['/exercise-difficulty/beginner-lower-body']"
      style="margin: 1%; background-color: blue"
        (click)="onBegLowerBodyWorkout()"
      >
        LowerBody Workout
      </button>
      <button
      [routerLink]="['/exercise-difficulty/beginner-core-body']"
        style="margin: 1%; background-color: blue"
        (click)="onBegCoreWorkout()"
      >
        Core Workout
      </button>
      <br />
    </div>
  </div>
</div>
<div class="container" id="intermediate" style="display: none">
  <div class="row">
    <div class="col-md-10">
      <h2>Intermediate</h2>
      <button
      [routerLink]="['/exercise-difficulty/intermediate-upper-body']"
        style="margin: 1%; background-color: #4c5c64df"
        (click)="onItermUpperBodyWorkout()"
      >
        UpperBody Workout
      </button>

      <button
      [routerLink]="['/exercise-difficulty/intermediate-lower-body']"
        style="margin: 1%; background-color: #4c5c64df"
        (click)="onItermLowerBodyWorkout()"
      >
        LowerBody Workout
      </button>
      <button
      [routerLink]="['/exercise-difficulty/intermediate-core-body']"
        style="margin: 1%; background-color: #4c5c64df"
        (click)="onItermCoreWorkout()"
      >
        Core Workout
      </button>
      <br />
    </div>
  </div>
</div>

<div class="container" id="advanced" style="display: none">
  <div class="row">
    <div class="col-md-10">
      <h2>Advanced</h2>
      <button
      [routerLink]="['/exercise-difficulty/advanced-upper-body']"
        style="margin: 1%; background-color: black"
        (click)="onAdvUpperBodyWorkout()"
      >
        UpperBody Workout
      </button>
      <button
      [routerLink]="['/exercise-difficulty/advanced-lower-body']"
        style="margin: 1%; background-color: black"
        (click)="onAdvLowerBodyWorkout()"
      >
        LowerBody Workout
      </button>
      <button
      [routerLink]="['/exercise-difficulty/advanced-core-body']"
        style="margin: 1%; background-color: black"
        (click)="onAdvCoreWorkout()"
      >
        Core Workout
      </button>
     

      <br />
    </div>
  </div>
</div>
      <app-lowerbody></app-lowerbody>
      <app-upperbody></app-upperbody>
      <app-core></app-core>
