<div class="container" id="upper" style="display:none">
<div class="row mb-3">
  <div class="col-md-9">
    <a class="'list-group-item clearfix">
      <!-- left side info -->
      <div class="float-left">
      <h4 class="list-group-item-heading">Lat Pull Down</h4>
      <p class="list-group-item-text mb-0">A lat pulldown is a compound exercise that targets your back muscles. Perform the lat pulldown exercise by sitting in front of a cable machine with a pulldown bar. Grab the bar and bend your elbows to lower it closer towards your upper chest.
      </p>
      </div>
      <!-- right side img -->
      <div class="float-right">
        <img
        src="https://static.strengthlevel.com/images/illustrations/close-grip-lat-pulldown-1000x1000.jpg"
        alt="lat pull down"
        class="exercise"
        style="max-height: 200px"/>
      </div>

    </a>
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-9">
    <a class="'list-group-item clearfix">
      <!-- left side info -->
      <div class="float-left">
      <h4 class="list-group-item-heading">Low row</h4>
      <p class="list-group-item-text mb-0">The correct form for the low row exercise is to stand with your feet hip-width apart, knees slightly bent, and your back straight. Hold a dumbbell in each hand with your palms facing inwards. Pull the dumbbells up towards your chest, keeping your elbows close to your body.
      </p>
      </div>
      <!-- right side img -->
      <div class="float-right">
        <img
        src="https://static.strengthlevel.com/images/illustrations/seated-cable-row-1000x1000.jpg"
        alt="low row"
        class="exercise"
        style="max-height: 200px"/>
      </div>

    </a>
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-9">
    <a class="'list-group-item clearfix">
      <!-- left side info -->
      <div class="float-left">
      <h4 class="list-group-item-heading">Back Extension</h4>
      <p class="list-group-item-text mb-0">A back extension exercise involves lifting your upper body to form a straight line, and then lowering yourself back down to the starting position. You can perform this exercise on the floor or on a bench.
      </p>
      </div>
      <!-- right side img -->
      <div class="float-right">
        <img
        src="https://static.strengthlevel.com/images/illustrations/back-extension-1000x1000.jpg"
        alt="lat pull down"
        class="exercise"
        style="max-height: 200px"/>
      </div>

    </a>
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-9">
    <a class="'list-group-item clearfix">
      <!-- left side info -->
      <div class="float-left">
      <h4 class="list-group-item-heading">Bench Press</h4>
      <p class="list-group-item-text mb-0">Back Exercise, lead with elbows until they can not go down any further. Keep good posture!
      </p>
      </div>
      <!-- right side img -->
      <div class="float-right">
        <img
        src="https://static.strengthlevel.com/images/illustrations/bench-press-1000x1000.jpg"
        alt="lat pull down"
        class="exercise"
        style="max-height: 200px"/>
      </div>

    </a>
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-9">
    <a class="'list-group-item clearfix">
      <!-- left side info -->
      <div class="float-left">
      <h4 class="list-group-item-heading">Shoulder Press</h4>
      <p class="list-group-item-text mb-0">The overhead press, also known as the shoulder press or military press, is an upper-body weight training exercise in which the trainee presses a weight overhead while seated or standing. It is mainly used to develop the anterior deltoid muscles of the shoulder.
      </p>
      </div>
      <!-- right side img -->
      <div class="float-right">
        <img
        src="https://static.strengthlevel.com/images/illustrations/seated-dumbbell-shoulder-press-1000x1000.jpg"
        alt="lat pull down"
        class="exercise"
        style="max-height: 200px"/>
      </div>

    </a>
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-9">
    <a class="'list-group-item clearfix">
      <!-- left side info -->
      <div class="float-left">
      <h4 class="list-group-item-heading">Tri-cep Pressdown</h4>
      <p class="list-group-item-text mb-0">Pull the elbows in close to the sides and slowly push the hands down towards the floor. <br>Straighten the arms completely before bending the elbows to return to the starting position.
      </p>
      </div>
      <!-- right side img -->
      <div class="float-right">
        <img
        src="https://static.strengthlevel.com/images/illustrations/reverse-grip-tricep-pushdown-1000x1000.jpg"
        alt="lat pull down"
        class="exercise"
        style="max-height: 200px"/>
      </div>

    </a>
  </div>
</div>
</div>
